[Unit]
Description=Load TC358743 HDMI EDID

[Service]
Type=oneshot
ExecStart=/usr/bin/v4l2-ctl --set-edid=file=/opt/tc358743/tc358743_gopro_1080p24_30_no_1080p60_edid_hex.txt 
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

